# Ignore everything
*

# Sample trips directory
!sample_trips/
!sample_trips/**

# Utils directory
!utils/
!utils/trips_dataframe.py
!utils/__init__.py
!utils/sample_side_bar_image.jpg

# Other files
!README.md
!requirements.txt
!trip_photo_map.py
!.gitignore
